.wrap-content-cart {
  .container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    .wrap-content-header {
      margin-top: 40px;
      h3 {
        margin: 0;
        text-transform: capitalize;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
      }
    }
    .wrap-content-cart_content {
      width: 100%;
      margin-top: 40px;
      background-color: #ffffff;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      padding: 20px;
      .wrap-all-content-cart {
        display: flex;
        flex-direction: column;
        .wrap-book-content {
          &_inner {
            display: flex;
            align-items: center;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
              rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            padding: 20px;
            .image-book {
              width: 25%;
              img {
                width: 100%;
                max-height: 400px;
              }
            }
            .content-book {
              display: flex;
              flex-direction: column;
              gap: 30px;
              margin-left: 30px;
              a{
                font-size: 20px;
                font-weight: 600;
                line-height: 150%;
                text-decoration: none;
                color: black;
                &:hover{
                    cursor: pointer;
                    color: blue;
                }
              }
            }
            .wrap-book-content_bottom{
              display: flex;
              gap: 10px;
              margin-left: 30px;
              .btn-changeQuantity {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                cursor: pointer;
              }
              input {
                width: 50px;
                text-align: center;
                padding: 5px;
                &:focus {
                  outline: none;
                }
              }
            }
            .wrap-total-amount{
              margin-left: 30px;
              display: flex;
              gap: 10px;
              align-items: center;
            }
          }
        }
      }
      .sum-total-amount-cart{
        margin-top: 20px;
        border-top: 2px dashed gray;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        padding: 15px;
        b{
          font-size: 25px;
          font-weight: 600;
          line-height: 150%;
        }
        span{
          font-size: 25px;
          font-weight: 600;
          line-height: 150%;
        }
      }
    }
    .nullDataBooks {
      min-height: 400px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
