<section>
  <div class="wrap-header-all">
    <div class="container">
      <div class="wrap-header">
        <header class="wrap-header-inner">
          <div class="wrap-header-inner_left">
            <ul>
              <a>Ebooks</a>
              <a>User</a>
              <a>Pricing</a>
              <a>FAQs</a>
              <a>About</a>
            </ul>
          </div>
          <div class="wrap-header-inner_right">
            <input placeholder="Tìm kiếm...." />
            <button class="logout-btn" (click)="logout()">Logout</button>
          </div>
        </header>
      </div>
    </div>
  </div>
</section>
