<section>
  <div class="wrap-header-all">
    <div class="container">
      <div class="wrap-header">
        <header class="wrap-header-inner">
          <div class="wrap-header-inner_left">
            <ul>
              <a routerLink="/dashboard/users" routerLinkActive="activeRouter"
                >Users</a
              >
              <a routerLink="/dashboard/books" routerLinkActive="activeRouter"
                >Ebooks</a
              >
              <a class="cart-link" routerLink="/dashboard/cart" routerLinkActive="activeRouter"
                >Cart
                <span>{{totalQuantity}}</span>
                </a
              >
            </ul>
          </div>
          <div class="wrap-header-inner_right">
            <button class="logout-btn" (click)="logout()">Logout</button>
          </div>
        </header>
      </div>
    </div>
  </div>
</section>
